---
name: Publish

on:
  push:
    branches:
      - main  # any change to main branch
  workflow_dispatch:  # any time you press the job button
  schedule:
    - cron: "0 0,12 * * *"  # every day at 00:00 and 12:00

env:
  node-version: lts/*

jobs:
  build:
    name: Build and publish the latest Rainbow Token List

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ env.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node-version }}
          cache: yarn

      - run: yarn
      - run: yarn lint
      - run: yarn test --ci --coverage --maxWorkers=2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - run: aws s3 cp output/rainbow-token-list.json s3://rainbow-metadata-production/token-list/rainbow-token-list.json
      - run: aws cloudfront create-invalidation --distribution-id "E1FFQRZXAO7TUP" --paths "/token-list/*"
